<!--
body {
	bgcolor:#007BC6;
	FONT-SIZE: 12px;
	margin-left: 4px;
	margin-top: 0px;
	margin-right: 0px;
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #59D6FF; PADDING-BOTTOM: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #007BC6; SCROLLBAR-DARKSHADOW-COLOR: #007BC6; SCROLLBAR-ARROW-COLOR: #007BC6; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #009ED2;
}
A {
	TEXT-DECORATION: none;color: #bd4c01;font-size:12px

}
A:link {
color: #1E5494;font-size:12px
}
A:visited {
color: #1E5494;font-size:12px
}
A:hover {
color: #1E5494;font-size:12px
}
A:active {
color: #1E5494;font-size:12px
}
.STYLE1 {
	color: #1E5494;
	font-weight: bold;
	FONT-SIZE: 12px;
}
.STYLE2 {
	color: #1E5494;
	font-size: 12px;
}
-->
