<!--
table{
	font-size:12px;
	COLOR: #1E5494;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #1E5494; PADDING-BOTTOM: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #1E5494; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #ffffff; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #1E5494;

}
input{
margin:11px 0 0 3px;background:url(../image/image/bg_search.png) repeat-x;
width:150px;height:21px;padding-top:2px;border:1px solid #7F9DB9;text-align:center;color:#1E5494;
}

-->
